<div layout="row">
    <div ng-include="'views/sidenav.html'" layout="column" style="height: calc(100vh - 64px);"></div>

    <div layout="row"  layout-align="start start" layout-padding ng-cloak style="width: 100vw;">
        <md-content class="md-padding" layout="column" layout-align="center center">
            <h1>Add New Meeting</h1>
            <md-card class="md-padding" style="width: 600px;">
                <form name="addMeeting">
                    <md-autocomplete md-selected-item="newMeeting.tag"
                                     md-search-text="searchText"
                                     md-selected-item-change="selectedItemChange(item)"
                                     md-items="item in tags | filter:searchText"
                                     md-item-text="item.code"
                                     md-min-length="2"
                                     placeholder="enter an tag name"
                                     md-floating-label="Tag">
                        <md-item-template>
                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.group_name}} - {{item.code}}</span>
                        </md-item-template>
                        <md-not-found>
                            No tag/category matching "{{searchText}}" was found.
                        </md-not-found>
                    </md-autocomplete>

                    <md-input-container class="md-icon-float md-block">
                        <label>Title of the Meeting</label>
                        <input ng-model="newMeeting.meetingName" type="text" required>
                    </md-input-container>
                    <!-- faculty autofill -->
                    <div layout="row">
                        <div flex="40">
                            <md-autocomplete md-selected-item="thisFaculty"
                                             md-selected-item-change="addFaculty(item.present)"
                                             md-search-text="searchFaculty"
                                             md-items="item in presents | filter:searchFaculty"
                                             md-item-text="item.present"
                                             md-min-length="2"
                                             placeholder="enter an tag name"
                                             md-floating-label="Faculty">
                                <md-item-template>
                                    <span md-highlight-text="searchFaculty" md-highlight-flags="^i">{{item.present}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No faculty matching "{{searchFaculty}}" was found.
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                        <div flex="60" layout-margin>
                            <p><strong>Faculty Present: </strong> {{newMeeting.presents}}</p>
                        </div>
                    </div>

                    <!-- autocomplete -->



                    <div layout="row" layout-align="start center">
                        <md-button class="md-raised md-primary" ng-click="sendMeet(newMeeting)" ng-disabled="addMeeting.$invalid">Submit</md-button>
                    </div>
                </form>
            </md-card>
        </md-content>
    </div>
</div>