<div layout="row">
    <div ng-include="'views/sidenav.html'" layout="column" style="height: calc(100vh - 64px);"></div>

    <div layout="row"  layout-wrap layout-align="start start" layout-padding ng-cloak style="width: 100vw;">
        <md-content class="md-padding" layout="column" layout-align="center center" >
            <h1>Add Meeting</h1>
            <md-card class="md-padding" style="width: 50vw;">
                <form name="addMeeting">
                    <md-input-container class="md-icon-float md-block">
                        <label>Meeting Name</label>
                        <input ng-model="newMeeting.meetingName" type="text" required>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Presents</label>
                        <textarea ng-model="newMeeting.presents"  rows="3" md-select-on-focus required></textarea>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Meeting minute</label>
                        <textarea ng-model="newMeeting.minute" rows="5" md-select-on-focus required></textarea>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Tag</label>
                        <input ng-model="newMeeting.tag" type="text" required>
                    </md-input-container>
                    <div layout="row" layout-align="start center">
                        <md-button class="md-raised md-primary" ng-click="sendMeet()" ng-disabled="addMeeting.$invalid">Submit</md-button>
                    </div>
                </form>
            </md-card>
        </md-content>
    </div>
</div>