<md-dialog aria-label="Edit Dialog" style="width: 500px;">
    <md-dialog-content>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
               <h2 flex md-truncate>Edit Minute</h2>
            </div>
        </md-toolbar>
        <form layout-padding>
            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>Description</label>
                    <textarea ng-model="description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                </md-input-container>
            </div>
            <div layout="row" layout-align="end center">
                 <md-button ng-click="submit()">Submit</md-button>
            </div>
        </form>
    </md-dialog-content>
</md-dialog>