<md-content class="md-padding" layout="column" layout-align="center center" layout-wrap>
    <h1>Signup </h1>
    <md-card class="md-padding" style="width:500px;">
        <form>
            <md-input-container class="md-icon-float md-block">
                <label>Name</label>
                <input ng-model="newUser.name" type="text">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Email</label>
                <input ng-model="newUser.email" type="text">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Password</label>
                <input ng-model="newUser.password" type="password">
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label>Confirm Password</label>
                <input ng-model="newUser.password_confirm" type="password">
            </md-input-container>
            <br layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="newUserSignup(newUser)">Register</md-button>
            </br>
            <p>Already have an account ? <a ui-sref="/">Login</a></p>
        </form>
    </md-card>

    <br>
    <br>
    <br>

    <img src="images/logo_building.png" style="    width: 200px;">
</md-content>